CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeUserPresets.json
CTestTestfile.cmake

Testing
Makefile

cmake_install.cmake
install_manifest.txt
compile_commands.json

_deps
build
.cache
lib
bin

*_tests
*.a
*_exe